Импортируйте библиотеку pandas как pd. Прочитайте датасет bookings.csv с разделителем ;. Ссылка на датасет находится в переменной path_to_file.

Сохраните прочитанный датасет в bookings.

Затем запишите первые 7 строк в переменную bookings_head.

In [2]:
import pandas as pd
bookings=pd.read_csv('2_bookings.csv', sep=";")
bookings_head=bookings.head(7)

Посмотрите на размеры таблицы. Сколько всего в ней столбцов?

In [3]:
bookings.shape[1]

21

К какому типу/каким типам относится большинство переменных?

In [4]:
bookings.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

💀 Сложное задание! 💀

Как вы уже могли заметить, при сборе датасета произошла небольшая ошибка, и названия колонок были записаны в неудобном для дальнейшей работы формате. Исправьте ситуацию, приведя названия столбцов к нижнему регистру и заменив пробелы на знак нижнего подчеркивания. 
Например: Is Canceled -> is_canceled

In [5]:
bookings

               Hotel  Is Canceled  ...  Reservation Status Reservation status_date
0       Resort Hotel            0  ...           Check-Out              2015-07-01
1       Resort Hotel            0  ...           Check-Out              2015-07-01
2       Resort Hotel            0  ...           Check-Out              2015-07-02
3       Resort Hotel            0  ...           Check-Out              2015-07-02
4       Resort Hotel            0  ...           Check-Out              2015-07-03
...              ...          ...  ...                 ...                     ...
119385    City Hotel            0  ...           Check-Out              2017-09-06
119386    City Hotel            0  ...           Check-Out              2017-09-07
119387    City Hotel            0  ...           Check-Out              2017-09-07
119388    City Hotel            0  ...           Check-Out              2017-09-07
119389    City Hotel            0  ...           Check-Out              2017-09-07

[119390 rows x 21 columns]

In [6]:
rename_col={}
for col in bookings.columns:
    rename_col[col]=col.replace(" ", "_").lower()

In [8]:
rename_col

{'Hotel': 'hotel',
 'Is Canceled': 'is_canceled',
 'Lead Time': 'lead_time',
 'arrival full date': 'arrival_full_date',
 'Arrival Date Year': 'arrival_date_year',
 'Arrival Date Month': 'arrival_date_month',
 'Arrival Date Week Number': 'arrival_date_week_number',
 'Arrival Date Day of Month': 'arrival_date_day_of_month',
 'Stays in Weekend nights': 'stays_in_weekend_nights',
 'Stays in week nights': 'stays_in_week_nights',
 'stays total nights': 'stays_total_nights',
 'Adults': 'adults',
 'Children': 'children',
 'Babies': 'babies',
 'Meal': 'meal',
 'Country': 'country',
 'Reserved Room Type': 'reserved_room_type',
 'Assigned room type': 'assigned_room_type',
 'customer type': 'customer_type',
 'Reservation Status': 'reservation_status',
 'Reservation status_date': 'reservation_status_date'}

In [9]:
bookings = bookings.rename(columns=rename_col)

In [10]:
bookings

               hotel  is_canceled  ...  reservation_status reservation_status_date
0       Resort Hotel            0  ...           Check-Out              2015-07-01
1       Resort Hotel            0  ...           Check-Out              2015-07-01
2       Resort Hotel            0  ...           Check-Out              2015-07-02
3       Resort Hotel            0  ...           Check-Out              2015-07-02
4       Resort Hotel            0  ...           Check-Out              2015-07-03
...              ...          ...  ...                 ...                     ...
119385    City Hotel            0  ...           Check-Out              2017-09-06
119386    City Hotel            0  ...           Check-Out              2017-09-07
119387    City Hotel            0  ...           Check-Out              2017-09-07
119388    City Hotel            0  ...           Check-Out              2017-09-07
119389    City Hotel            0  ...           Check-Out              2017-09-07

[119390 rows x 21 columns]

💀 Сложное задание! 💀

Перейдем к исследованию данных! Пользователи из каких стран совершили наибольшее число успешных бронирований? Бронирование считается успешным, если в дальнейшем не было отменено (переменная is_canceled). В качестве ответа выберите страны, входящие в топ-5.

In [24]:
bookings.query("is_canceled==0").country.value_counts().head()

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: country, dtype: int64

 На сколько ночей (stays_total_nights)  в среднем бронируют отели типа City Hotel? Resort Hotel? Запишите полученные значения в пропуски с точностью до 2 знаков после точки.

Может пригодиться: round

In [32]:
bookings.query("hotel =='City Hotel'").stays_total_nights.mean().round(2)

2.98

In [33]:
bookings.query("hotel =='Resort Hotel'").stays_total_nights.mean().round(2)

4.32

Иногда тип номера, присвоенного клиенту (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга.

Сколько подобных наблюдений встретилось в датасете?

In [37]:
bookings.query("assigned_room_type!=reserved_room_type").shape[0]

14917

Теперь проанализируйте даты запланированного прибытия (arrival_date_year).

На какой месяц чаще всего оформляли бронь в 2016 году? Изменился ли самый популярный месяц в 2017?

In [43]:
bookings.query("arrival_date_year==2016").arrival_date_month.value_counts()

October      6203
May          5478
April        5428
September    5394
June         5292
August       5063
March        4824
July         4572
November     4454
February     3891
December     3860
January      2248
Name: arrival_date_month, dtype: int64

In [44]:
bookings.query("arrival_date_year==2017").arrival_date_month.value_counts()

May         6313
April       5661
June        5647
July        5313
March       4970
August      4925
February    4177
January     3681
Name: arrival_date_month, dtype: int64

Сгруппируйте данные по годам, а затем проверьте, на какой месяц (arrival_date_month) бронирования отеля типа City Hotel отменялись чаще всего в 2015? 2016? 2017? 

Hint: для этого сначала примените метод groupby, после чего выберите нужную колонку для дальнейших действий :)

Например:

df.groupby('column_1')['column_2'].what_to_do()

In [55]:
bookings\
    .query("hotel=='City Hotel' and is_canceled==1")\
    .groupby("arrival_date_year",as_index=False)\
    .arrival_date_month\
    .value_counts()\
    .groupby("arrival_date_year")\
    .head(1)\
    .sort_values(by="count", ascending=False)

    arrival_date_year arrival_date_month  count
18               2017                May   2217
6                2016            October   1947
0                2015          September   1543

Посмотрите на числовые характеристики трёх колонок: adults, children и babies. Какая из них имеет наибольшее среднее значение?

In [56]:
bookings.adults.mean()

1.8564033838679956

In [58]:
bookings.children.mean()

0.10388990333874994

In [57]:
bookings.babies.mean()

0.007948739425412514

Создайте колонку total_kids, объединив столбцы children и babies. Для отелей какого типа среднее значение переменной оказалось наибольшим?

* City hotel – отель находится в городе
* Resort hotel – отель курортный

В качестве ответа укажите наибольшее среднее total_kids, округлив до 2 знаков после точки.

In [62]:
bookings["total_kids"]=bookings.babies+ bookings.children
bookings.groupby("hotel").total_kids.mean().round(2)

hotel
City Hotel      0.10
Resort Hotel    0.14
Name: total_kids, dtype: float64

💀 Сложное задание! 💀

Не все бронирования завершились успешно (is_canceled), поэтому можно посчитать, сколько клиентов было потеряно в процессе. Иными словами, посчитать метрику под названием Churn Rate.

Churn rate (отток, коэффициент оттока) – это процент подписчиков (например, на push-уведомления от сайта), которые отписались от канала коммуникации, отказались от услуг сервиса в течение определенного периода времени. Иными словами, представляет собой отношение количества ушедших пользователей к общему количеству пользователей, выраженное в процентах.

В нашем случае Churn Rate - это процент клиентов, которые отменили бронирование. Давайте посмотрим, как эта метрика связана с наличием детей у клиентов!

Создайте колонку has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False. Далее проверьте, среди какой группы пользователей показатель оттока выше. 

В качестве ответа укажите наибольший % оттока, округленный до 2 знаков после точки (то есть доля 0.24563 будет 24.56% и в ответ пойдёт 24.56)

In [64]:
bookings["has_kids"]=bookings.total_kids>0

In [66]:
Chur_rate=bookings\
    .query("is_canceled ==1 and has_kids == False")\
    .shape[0]/bookings.query("has_kids == False").shape[0]
Chur_rate=round(Chur_rate*100,2)
Chur_rate

37.22

In [67]:
Chur_rate_2=bookings\
    .query("is_canceled ==1 and has_kids == True")\
    .shape[0]/bookings.query("has_kids == True").shape[0]
Chur_rate_2=round(Chur_rate_2*100,2)
Chur_rate_2

34.92