In [10]:
from io import BytesIO
import requests
import pandas as pd
import numpy as np 

req = requests.get("https://docs.google.com/spreadsheets/d/1e3PRXmMNXo9AZZnaol1aHgYxtH6KYaCDymEQlK6jaO8/export?format=csv")
data = req.content

df = pd.read_csv(BytesIO(data))

⭐️Задание со звёздочкой!⭐️

Считайте данные из Google Sheets, которые находятся по этой ссылке при помощи библиотеки requests. Посчитайте процент мужчин среди всех посетителей сайта, округлите ответ до целых.

Воспользуйтесь этим кодом, чтобы перевести данные из реквеста в пандас

`from io import BytesIO

import requests

req = requests.get(your_link)

data = req.content

df = pd.read_csv(BytesIO(data))`

In [4]:
df

         date         gender  users
0  2020-06-14  Not specified    150
1  2020-06-14           male    117
2  2020-06-14         female     21

In [9]:
(df.query("gender == 'male'").users/df.users.sum()*100).round(0)

1    41.0
Name: users, dtype: float64

Скачайте файл с данными посещаемости сайта Яндекс.Метрика отсюда (сохранен в переменную df). При помощи функции np.where создайте серию, в которую будет записываться 1, если посещения были сделаны роботами с браузера, содержащего Chrome в названии, и 0 в других случаях. Поместите получившуюся серию в переменную chrome_robots.

Может понадобиться:

* str.contains()

In [11]:
data = pd.read_csv('7_browser.csv')

In [18]:
data.head(10)

         date          browser user_type  users
0  2020-06-14    Google Chrome    People    139
1  2020-06-14    Chrome Mobile    People     35
2  2020-06-14    Google Chrome    Robots     28
3  2020-06-14   Yandex Browser    People     22
4  2020-06-14          Firefox    People     15
5  2020-06-14           Safari    People     13
6  2020-06-14          Firefox    Robots      8
7  2020-06-14  Android Browser    People      8
8  2020-06-14            Opera    People      5
9  2020-06-14    Mobile Safari    People      5

In [25]:
chrome_robots =pd.Series(np.where(data.browser.str.contains('Chrome')&(data.user_type == 'Robots'),1,0))
chrome_robots

0     0
1     0
2     1
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    1
20    0
21    0
22    0
23    0
dtype: int64

⭐️Задание со звёздочкой!⭐️

У вас есть датасет с данными о кликах и показах по объявлению, в котором есть пропуски. Вычислите количество строк без пропусков в колонке click_type. Запишите ответ в переменную not_nan_count

* ad_id – id объявления
* user_id – id пользователя
* click_type – тип клика (клик по заголовку объявления, клик по центру)

Данные сохранены в переменную df.

In [27]:
sample_df = pd.read_csv("sample_ads.csv")

In [29]:
sample_df.head()

   ad_id user_id click_type
0  12345   qwert        top
1  12345   fsssc     center
2  12345   vfvgg        NaN
3  12345   asrvv        NaN
4  12345   tynuy        top

In [32]:
sample_df.click_type =sample_df.click_type.fillna(0)

In [37]:
not_nan_count = sample_df.query("click_type != 0").click_type.count()

⭐️Задание со звёздочкой!⭐️

В списке lst находятся различные элементы. Создайте список new_list и сделайте следующее:

* при помощи конструкции try except и цикла попробуйте преобразовать каждое значение в листе в int
* если это получилось – добавьте преобразованное значение  в список new_list

In [38]:
lst = [23,234,256,"nfjiv",45, "4r34"]
new_list=[]
i=0
while i<len(lst):
    try:
        new_list.append(int(lst[i]))
    except:
        pass
    i+=1

In [39]:
new_list

[23, 234, 256, 45]

⭐️Задание со звёздочкой! ⭐️

А теперь попробуем воспользоваться знаниями использования Telegram API. Отправьте себе в личку любое послание, а в ответ к этому шагу напишите ник бота, от имени которого будете отправлять сообщения.

In [41]:
token = "тут был токен"

In [52]:
api_pattern = f'https://api.telegram.org/bot{token}'

In [53]:
update = f'{api_pattern}/getUpdates'

In [54]:
info = requests.get(update)

In [57]:
info.json()

{'ok': True,
 'result': [{'update_id': 514402994,
   'message': {'message_id': 2,
    'from': {'id': 529687956,
     'is_bot': False,
     'first_name': 'Александр',
     'username': 'NXT26',
     'language_code': 'ru'},
    'chat': {'id': 529687956,
     'first_name': 'Александр',
     'username': 'NXT26',
     'type': 'private'},
    'date': 1668425610,
    'text': 'vrv'}},
  {'update_id': 514402995,
   'message': {'message_id': 3,
    'from': {'id': 529687956,
     'is_bot': False,
     'first_name': 'Александр',
     'username': 'NXT26',
     'language_code': 'ru'},
    'chat': {'id': 529687956,
     'first_name': 'Александр',
     'username': 'NXT26',
     'type': 'private'},
    'date': 1668425611,
    'text': 'vwgv'}}]}

In [60]:
import json
from urllib.parse import urlencode


chat_id = 529687956  

message = 'Привет'  

params = {'chat_id': chat_id, 'text': message}

base_url = f'https://api.telegram.org/bot{token}/'
url = base_url + 'sendMessage?' + urlencode(params)
# Only if you need it
# proxy = {'https': 'https://77.48.23.199:57842'}

# To send request via proxy
# resp = requests.get(url, proxies=proxy)
resp = requests.get(url)